<%= form_for(@apppointment) do |f| %>
  <% if @apppointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@apppointment.errors.count, "error") %> prohibited this apppointment from being saved:</h2>

      <ul>
      <% @apppointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_area :location %>
  </div>
  <div class="field">
    <%= f.label :memo %><br>
    <%= f.text_area :memo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
