<h1>Listing apppointments</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Location</th>
      <th>Memo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apppointments.each do |apppointment| %>
      <tr>
        <td><%= apppointment.title %></td>
        <td><%= apppointment.date %></td>
        <td><%= apppointment.location %></td>
        <td><%= apppointment.memo %></td>
        <td><%= link_to 'Show', apppointment %></td>
        <td><%= link_to 'Edit', edit_apppointment_path(apppointment) %></td>
        <td><%= link_to 'Destroy', apppointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Apppointment', new_apppointment_path %>
