<%= render "layouts/admin/parts/head" %>

<div id="main">
  <%= render "layouts/admin/parts/nav" %>
  <%= render "layouts/admin/parts/flash_message" %>
  
  <%= yield %>
</div>

<%= render "layouts/admin/parts/foot" %>