<div class="row">
  <div class="small-12 large-12 columns">
    <h2><%= page_title %></h2>
    <hr />

    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Body</th>
          <th colspan="2"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @nuggets.each do |nugget| %>
          <tr>
            <td><%= nugget.title %></td>
            <td><%= nugget.body %></td>
            <td><%= link_to 'Edit', edit_admin_nugget_path(nugget), class: "button" %></td>
            <td><%= link_to 'Delete', admin_nugget_path(nugget), method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <br>
    
    <%= link_to 'New Nugget', new_admin_nugget_path, class: "button" %> 
  </div>
</div>