<div class="row">
  <div class="small-12 large-12 columns">
    <h2><%= @nugget.title %></h2>
    <hr />
    <p id="notice"><%= notice %></p>
    
    <p>
      <strong>Title:</strong>
      <%= @nugget.title %>
    </p>
    
    <p>
      <strong>Body:</strong>
      <%= @nugget.body %>
    </p>
    
    <%= link_to 'Edit', edit_admin_nugget_path(@nugget) %> |
    <%= link_to 'Back', admin_nuggets_path %>
  </div>
</div>