<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="ReFresh Ministries">
    <link href="https://drqkr2smv75b.cloudfront.net/shared/images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon"/>
    <link rel="apple-touch-icon" href="https://drqkr2smv75b.cloudfront.net/shared/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://drqkr2smv75b.cloudfront.net/shared/images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://drqkr2smv75b.cloudfront.net/shared/images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://drqkr2smv75b.cloudfront.net/shared/images/apple-touch-icon-152x152.png">
    <title>ReFresh <%= head_page_title %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= csrf_meta_tags %>
    <script src="//use.edgefonts.net/poiret-one:n4:all;source-sans-pro:n2,i2,n3,i3,n4,i4,n6,i6,n7,i7,n9,i9:all;kaushan-script.js"></script>
  </head>
  <body class='<%= controller.controller_name %>'>
    
    <div class="header-nav topofpage">
      <div class='row'>
        <div class='large-3 columns'>
          <h1>
            <a href='/'>
              <img src='https://drqkr2smv75b.cloudfront.net/www/images/ReFresh_Logo_transparent.png'>
            </a>
          </h1>
        </div>
        <div class='large-9 columns topnav'>
          <ul class='right button-group radius'>
            <li>
              <a class='button' href='/coaching'>Coaching</a>
            </li>
            <li>
              <a class='button' href='/barnabas'>Barnabas</a>
            </li>
            <li>
              <a id="nav_contact" class='button' href='#contact'>Contact</a>
            </li>
            <li>
              <button href="#" data-dropdown="about-menu" aria-controls="about-menu" aria-expanded="false" class="button dropdown">About</button><br> 
              <ul id="about-menu" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1"> 
                <li><a id="nav_about" href="#about">ReFresh Ministries</a></li> 
                <li><a href="/about/cal">Cal Woods</a></li> 
                <li><a href="#">Another Bio Here</a></li> 
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
