<div class='row'>
  <div class='large-12 columns'>
      <div style="background-color: white;" class='panel radius'>
      <%= form_for @contact, url: {action: "create"} do |f| %>
        <% if @contact.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this nugget from being saved:</h2>
      
            <ul>
            <% @contact.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <% if @msg %>
        <div class="error_messages">
          <h3>Please correct the errors below.</h3>
          <ul>
            <li><%= @msg %></li>
          </ul>
        </div>
        <% end %>
          <div class="row">
            <div class="large-6 columns">
              <div class="row collapse prefix-radius">
                <div class="small-3 columns">
                  <span class="prefix">First Name</span>
                </div>
                <div class="small-9 columns">
                  <%= f.text_field :first_name, placeholder:"John" %>
                </div>
              </div>
            </div>
            <div class="large-6 columns">
              <div class="row collapse postfix-radius">
                <div class="small-9 columns">
                  <%= f.text_field :last_name, placeholder:"Zealot" %>
                </div>
                <div class="small-3 columns">
                  <span name="last_name" class="postfix">Last Name</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="large-6 columns">
              <div class="row collapse prefix-radius">
                <div class="small-3 columns">
                  <span class="prefix">Email Address</span>
                </div>
                <div class="small-9 columns">
                  <%= f.text_field :email, placeholder:"john@refresh-ministries.org" %>
                </div>
              </div>
            </div>
            <div class="large-6 columns">
              <div class="row collapse postfix-radius">
                <div class="small-9 columns">
                  <%= f.text_field :telephone, placeholder:"555-555-5555" %>
                </div>
                <div class="small-3 columns">
                  <span class="postfix">Telephone</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>Tell us a little about yourself.
                <%= f.text_area :memo, style:"min-height: 400px;" %>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <%= f.submit value:"Send", class:"button" %>
            </div>
          </div>
        <% end %>
      </div>
  </div>
</div>