<div class="row">
  <div class="small-12 large-12 columns">
    <h2><%= page_title %></h2>
    <hr />
    <div style="background-color: white;" class='panel radius'>
      <%= form_tag '/admin/contacts', id: "contact_form" do %>
        <div class="row">
          <div class="large-6 columns">
            <div class="row collapse prefix-radius">
              <div class="small-3 columns">
                <span class="prefix">First Name</span>
              </div>
              <div class="small-9 columns">
                <input name="first_name" type="text" placeholder="John" value="<%= @params[:first_name] %>">
              </div>
            </div>
          </div>
          <div class="large-6 columns">
            <div class="row collapse postfix-radius">
              <div class="small-9 columns">
                <input type="text" placeholder="Zealot" value="<%= @params[:last_name] %>">
              </div>
              <div class="small-3 columns">
                <span name="last_name" class="postfix">Last Name</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns">
            <div class="row collapse prefix-radius">
              <div class="small-3 columns">
                <span class="prefix">Email Address</span>
              </div>
              <div class="small-9 columns">
                <input name="email" type="text" placeholder="john@refreshministries.org" value="<%= @params[:email] %>">
              </div>
            </div>
          </div>
          <div class="large-6 columns">
            <div class="row collapse postfix-radius">
              <div class="small-9 columns">
                <input name="telephone" type="text" placeholder="555-555-5555" value="<%= @params[:telephone] %>">
              </div>
              <div class="small-3 columns">
                <span class="postfix">Telephone</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <label>Tell us a little about yourself.
              <textarea style="min-height: 200px;" name="memo" placeholder=""><%= @params[:memo] %></textarea>
            </label>
          </div>
          <div class="large-12 columns">
            <label style="color: red;">What color is the word ReFresh at the top of the screen? (Incorrect Answer)</label>
            <input name="answer" type="text" placeholder="answer?" value="<%= @params[:answer] %>">
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <a id="btn_contact" class="button">Send</a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>