<h1 class="text-center" style="border-top: 1px solid #FFFFFF; border-bottom: 1px solid #FFFFFF;">New Message For ReFresh Ministries</h1>
<div>
  <p>First Name: <%= @user.first_name.capitalize %></p>
</div>

<div>
  <p>Last Name: <%= @user.last_name.capitalize %></p>
</div>

<div>
  <p>Email Address: <a href="mailto:<%= @user.email %>"><%= @user.email %></a></p>
</div>

<div>
  <p>Telephone Number: <a href="tel:<%= @user.telephone %>"><%= @user.telephone %></a></p>
</div>

<hr />

<div>
  <p class="rf-green" style="font-weight: bold;"><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %> says this:</p>
  <%=raw @user.memo %>
</div>