<h1>Thank You For Contacting ReFresh Ministries</h1>

<div>
  <p>You sent us the following information:</p>
</div>

<div>
  <p>First Name: <%= @user.first_name.capitalize %></p>
</div>

<div>
  <p>Last Name: <%= @user.last_name.capitalize %></p>
</div>

<div>
  <p>Email Address: <%= @user.email %></p>
</div>

<div>
  <p>Telephone Number: <%= @user.telephone %></p>
</div>

<div>
  <%=raw @user.memo %>
</div>
